{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12 user-info">
    <div class="">
      <img width="50px" height="50px" src="{{ user.avatar }}">
      &nbsp;&nbsp;&nbsp;&nbsp;<span>{{ user.username }}</span>
      <a target="_blank" href="http://weibo.com/{{ user.account_set.all.0.link_account }}"><img src="{% static 'images/sinaLogin.gif' %}"></a>
    </div>
  </div>
</div>
<div class="row bs-row mt10">
  {% include 'dreams/_my_dream.html' %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript">
  var container = document.querySelector('.bs-row');
  var msnry = new Masonry( container, {
    itemSelector: '.bs-col'
  });
</script>
{% endblock %}