{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load pagination_tags %}
{% autopaginate dreams 30 %}

{% block content %}
<div class="row bs-row">
  {% include 'dreams/_my_dream.html' %}
</div>
<div class="row bs-row">
  {% paginate %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript">
  var container = document.querySelector('.bs-row');
  var msnry = new Masonry( container, {
    itemSelector: '.bs-col'
  });
</script>
{% endblock %}