{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://julytwilight.qiniudn.com/moon-logo.png">
  <title>{% block title %}七月的暮光{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/icheck/blue.css' %}">
  {% block css %}
  {% endblock %}
</head>
<body>

{% include "layouts/_header.html" %}

<div class="container mt80">
{% block content %}
{% endblock %}
</div>

{% include "layouts/_footer.html" %}
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/icheck/icheck.min.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>